{% extends 'base.html'%}
{% import 'macros.html' as macro %}

{% block content %}
 <div class="container pt-5 mx-auto">
     <h3 class="text-center text-white"><strong>Pitches</strong></h3>
     <p class="text-white text-center" style="font-size:small">Welcome to Pitch App where we restore hope and offer insights on how to use pitch in different situations</p>
     <div class="row">
        <div class="col-md-6 mx-auto">
            <a href="{{url_for('main.new_pitch')}}">
                <span class="btn btn-primary btn-md">Add a new Pitch</span>
            </a>
        </div>
        <div class="col-md-6"></div>
     </div>

     <div class="row d-flex justify-content-centre pt-5">   
        <p>{{macro.displayPitches(pitches)}}</p>    
     </div>
 </div>

{% endblock %}