{% extends 'base.html' %}

{% block content %}
<section style="background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(https://images.pexels.com/photos/355948/pexels-photo-355948.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260);height:100vh;background-position:center;background-size:cover;top:0;">
    <div class="container d-flex align-tems-center justify-content-center pt-5">
        <div class="row pt-5">
            <div class="col-md-d  w-75 my-auto text-center text-light pt-5 ">
                <h1>Welcome to an Pitch App an Application that builds you and gives an insight on different pitches applicable in different areas</h1>
        
            </div>
        </div>
    </div>
</section>

{% endblock %}