{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="icon-bar d-flex  justify-content-center">
            <a href="https://www.facebook.com/thomas.khaemba.1" class="facebook" target="_blank"><i
                    class="fa fa-facebook fa-2x text-light mr-3"></i></a>
            <a href="https://twitter.com/iamjarvis97" class="twitter" target="_blank"><i
                    class="fa fa-twitter fa-2x text-light mr-3"></i></a>
            <a href="https://www.linkedin.com/in/thomas-ingasia-93a87a169/"
                class="linkedin" target="_blank"><i class="fa fa-linkedin fa-2x text-light"></i></a>
        </div>
        <div class="row">
            <div class="col-md-d  w-75 my-auto text-center  head ">
                <h1>Welcome to an Application where we make your idea to have monetary value</h1>
                <h3>Feel free to leave  pitch or comment on the available pitches</h3>
            </div>
        </div>


{% endblock %}