<!--Navbar -->
<nav class="mb-1 navbar navbar-expand-lg navbar-dark bg-dark navbar-fixed-top"  style="font-size: small;">
    <a class="navbar-brand" href="{{url_for('main.all')}}">pitchApp</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-333"
        aria-controls="navbarSupportedContent-333" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent-333">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item active pr-5">
                <a class="nav-link" href="{{('/all')}}">Home
                    <span class="sr-only">(current)</span>
                </a>
            </li>
            <li class="nav-item pr-5">
                <a class>About</a>
            </li>
            <li class="nav-item dropdown pr-5">
                <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-333" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">Dropdown
                </a>
                <div class="dropdown-menu dropdown-default bg-info" aria-labelledby="navbarDropdownMenuLink-333">
                    <a class="dropdown-item" href="{{url_for('main.interview')}}">Interview Pitches</a>
                    <a class="dropdown-item" href="{{url_for('main.pick_up_lines')}}">Pick Up lines Pitches</a>
                    <a class="dropdown-item" href="{{ url_for('main.promotion') }}">Promotion Pitches</a>
                    <a class="dropdown-item" href="{{ url_for('main.product') }}">product Pitches</a>
                </div>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            {% if current_user.is_authenticated %}
            <!-- <li style="color:white;padding:15px;">{{current_user.username}}</li> -->
        
            <li class="dropdown"><a href="#" class="dropdown-toggle text-light" data-toggle="dropdown"><i
                        class="fa fa-user"></i><strong class="ml-2">Welcome, {{current_user.username}}</strong> <b
                        class="caret"></b></a>
                <ul class="dropdown-menu bg-primary text-center">
        
                    <li><a href="{{url_for('main.profile',uname=current_user.username)}} " ><i
                                class="icon-envelope"></i><strong>Your profile</strong></a></li>
                    <li class="divider"></li>
                    <div class="dropdown-divider"></div>
                    <li><a href="{{url_for('auth.login')}}" ></a><i class="fa fa-sign-out mr-2 text-dark"></i><strong>Login</strong></a></li>
                </ul>
            </li>
            {% else %}
            <li><a href="{{url_for('auth.login')}}"><i class="fa fa-sign-in mr-2 text-dark"></i><strong>Sign
                        In</strong></a></li>
            {%endif%}
        </ul>
    </div>
</nav>
<!--/.Navbar -->